<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} Details</title>
</head>
<body>
    <h1>Details of {{ product.title }}</h1>
    <p>ID: {{ product._id }}</p>
    <p>Type: {{ product.type }}</p>
    <p>Brand: {{ product.brand }}</p>
    <p>Model: {{ product.model }}</p>
    <p>Year: {{ product.year }}</p>
    <p>Processor: {{ product.processor }}</p>
    <p>RAM: {{ product.ram }}</p>
    <p>Storage: {{ product.storage }}</p>
    <p>Graphics Card: {{ product.graphics_card }}</p>
    <p>Operating System: {{ product.operating_system }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Image: {{ product.image }}</p>
    <p>Description: {{ product.description }}</p>
    {% if username %}
        <form action="/add_to_favorites" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Add to Favorites</button>
        </form>
    {% endif %}
</body>
</html>