<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} Details</title>
</head>
<body>
    <h1>Details of {{ product.title }}</h1>
    <p>ID: {{ product._id }}</p>
    <p>Tutor Name: {{ product.tutor_name }}</p>
    <p>Lessons: {{ product.lessons }}</p>
    <p>Location: {{ product.location }}</p>
    <p>Duration: {{ product.duration }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Image: {{ product.image }}</p>
    <p>Description: {{ product.description }}</p>
    {% if username and username not in product.favoriteList%}
        <form action="/add_to_favorites/{{ product._id|string|urlencode }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Add to Favorites</button>
        </form>
    {% endif %}
    {% if username and username in product.favoriteList%}
        <form action="/remove_from_favorites/{{ product._id|string|urlencode }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Remove From Favorites</button>
        </form>
    {% endif %}
    {% if username == product.owner %}
        <form action="/rotate_private-lesson/{{ product._id|string|urlencode }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Edit Product</button>
        </form>
    {% endif %}
    {% if username == product.owner or is_admin == true %}
        <form action="/delete_product/{{ product._id|string|urlencode }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Delete Product</button>
        </form>
    {% endif %}
    {% if username and product.isActivated == false %}
        <form action="/activate_product/{{ product._id|string|urlencode }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Activate Product</button>
        </form>
    {% endif %}
    {% if username and product.isActivated == true %}
        <form action="/deactivate_product/{{ product._id|string|urlencode }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product._id }}">
            <button type="submit">Deactivate Product</button>
        </form>
    {% endif %}
</body>
</html>