<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <!-- Add your CSS stylesheet link here -->
</head>
<body>
    <header>
        <h1>Welcome to our E-commerce Website {{ username }}!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/signin">Sign In</a></li> <!-- Link to the sign-in page -->
                <li><a href="/register">Register</a></li> <!-- Link to the registration page -->
                <li><a href="/profile">Profile</a></li> <!-- Link to the profile page -->
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Featured Products</h2>
            <!-- Display featured products here -->
            <ul>
                <li><a href="/display_vehicle/6604287c29742c14dad57001">Vehicle 1</a></li>
                <li><a href="/display_computer/660429c606d357395fd61397">Computer 1</a></li>
                <li><a href="/display_phone/660429ed06d357395fd61399">Phone 1</a></li>
                <li><a href="/display_private-lesson/66042a1006d357395fd6139b">Private Lesson 1</a></li>
            </ul>
        </section>

        <section>
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat arcu in erat sollicitudin, eget malesuada est fermentum.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 E-commerce Website. All rights reserved.</p>
    </footer>
</body>
</html>
