<!-- new_phone.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Phone</title>
</head>
<body>
    <h1>Add New Phone</h1>
    <form action="/add_phone" method="POST">
        <label for="title_phone">Title:</label><br>
        <input type="text" id="title_phone" name="title_phone"><br>
        
        <label for="brand_phone">Brand:</label><br>
        <input type="text" id="brand_phone" name="brand_phone"><br>
        
        <label for="model_phone">Model:</label><br>
        <input type="text" id="model_phone" name="model_phone"><br>
        
        <label for="year_phone">Year:</label><br>
        <input type="number" id="year_phone" name="year_phone"><br>
        
        <label for="operating_system_phone">Operating System:</label><br>
        <input type="text" id="operating_system_phone" name="operating_system_phone"><br>
        
        <label for="processor_phone">Processor:</label><br>
        <input type="text" id="processor_phone" name="processor_phone"><br>
        
        <label for="ram_phone">RAM:</label><br>
        <input type="text" id="ram_phone" name="ram_phone"><br>
        
        <label for="storage_phone">Storage:</label><br>
        <input type="text" id="storage_phone" name="storage_phone"><br>
        
        <label for="camera_specifications_phone">Camera Specifications:</label><br>
        <input type="text" id="camera_specifications_phone" name="camera_specifications_phone"><br>
        
        <label for="battery_capacity_phone">Battery Capacity:</label><br>
        <input type="text" id="battery_capacity_phone" name="battery_capacity_phone"><br>
        
        <label for="price_phone">Price:</label><br>
        <input type="number" id="price_phone" name="price_phone" step="any"><br>
        
        <label for="image_phone">Image URL:</label><br>
        <input type="text" id="image_phone" name="image_phone"><br>
        
        <label for="description_phone">Description:</label><br>
        <textarea id="description_phone" name="description_phone" rows="4" cols="50"></textarea><br><br>
        
        <button type="submit">Add Phone</button>
    </form>
</body>
</html>
