<!-- new_item.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Item</h1>
    <form action="/choose_item_type" method="POST">
        <button type="submit" name="item_type" value="vehicle">New Vehicle</button>
        <button type="submit" name="item_type" value="computer">New Computer</button>
        <button type="submit" name="item_type" value="phone">New Phone</button>
        <button type="submit" name="item_type" value="private_lesson">New Private Lesson</button>
    </form>
</body>
</html>
