<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    
    <h2>Owned Items</h2>
    <ul>
        {% for product in products %}
            {% if product.owner == user.username %}
                <li>
                    <a href="/display_{{ product.product_type }}/{{ product._id|string|urlencode }}">{{ product.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <h2>Favorite Items</h2>
    <ul>
        {% for product2 in products2 %}
            {% if user.username in product2.favoriteList %}
                <li>
                    <a href="/display_{{ product2.product_type }}/{{ product2._id|string|urlencode }}">{{ product2.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('index') }}">Back to Home</a>
    <a href="{{ url_for('new_item') }}">Manage New Item</a>
    <!-- <a href="{{ url_for('edit_item') }}">Edit Item</a> -->
    <a href="/display_user/{{ user.username }}">Manage Profile</a>
    {% if user.isAdmin == true %}
        <a href="{{ url_for('user_list') }}">User List</a>
    {% endif %}
    {% if user.isAdmin == true %}
        <a href="{{ url_for('item_list') }}">Item List</a>
    {% endif %}
</body>
</html>
